		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<h3>Ajouter un contact</h3>
					<div class="input-group">
						<span class="input-group-addon">Prénom</span>
						<input type="text" class="form-control" ng-model="newContact.firstName">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Nom</span>
						<input type="text" class="form-control" ng-model="newContact.lastName">
					</div>
					<div class="input-group">
						<span class="input-group-addon">Ville</span>
						<input type="text" class="form-control" ng-model="newContact.city">
					</div>
					<button type="button" class="btn btn-default" ng-click="addContact()">Ajouter</button>
				</div>
			</div>
		</div>

